.preview-page-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px;
}
.preview-container {
  padding: 20px;
  p {
    font-size: 14px;
    color: black;
    margin: 0px;
    line-height: 1.2;
  }
  .ql-editor {
    padding: 0px;
    p {
      font-size: 14px;
    }
  }
  .gray {
    color: gray;
  }
  .mb-2 {
    margin-bottom: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .summary-header {
    margin-bottom: 5px;
  }
  .personal-summary {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  .professional-summary {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  .work-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    .summary-details {
      margin-bottom: 10px;
    }
    .ql-editor {
      margin-bottom: 10px;
    }
  }
  .educational-summary {
    margin-bottom: 20px;
    .summary-details {
      margin-bottom: 10px;
    }
    .education-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
      }

      .education-table td {
        padding: 2px 12px;
        vertical-align: top;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .education-table td:first-child {
        font-weight: bold;
        width: 30%;
        color: #333;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }

      .education-table td:last-child {
        width: 70%;
        color: #555;
      }
  }

  .skills-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    .skills-summary-list {
      margin-bottom: 10px;
    }
  }
  
  .certifications-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    .certifications-summary-list {
      margin-bottom: 10px;
    }
  }
  
  .languages-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    .languages-summary-list {
      margin-bottom: 10px;
    }
  }
  
  .additionalInfo-summary {
    margin-bottom: 15px;
    .additionalInfo-summary-list {
      margin-bottom: 10px;
    }
  }
}
